.genres {
  white-space: pre-wrap;
  width: 100%;
  padding-bottom: 1em;
  justify-content: right;
  margin-bottom: 20%;
  display: inline-block;
  margin-top: 55%;

}

.genre-button {
  float: right;
  margin-left: 50%;
  margin-bottom: 20%;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

button {
  background-color: peachpuff
  
}

body {
  background-image: url("https://www.xmple.com/wallpaper/orange-gradient-linear-red-1920x1080-c2-ff8c00-dc143c-a-150-f-14.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 50em; 
  width: 400px;
  margin-left: 50%;

  
}

/* .container { */
  /* background-color : #b24e6a;
  outline:10px;
  width:fit-content */

/* } */
/* 
.card {
    position: relative;
    outline: 0px;
    margin: auto;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 24px;
    background-color: #b24e6a;
    border-radius: 10px;
    height: 100%
}

.card_content {
  background-color: #172023;
  color: #ffff
} */

