body {
  margin: 2% 0; 
  padding: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
  width: 90%;
  height: 85vh;
  margin: 5vh auto; 
  padding: 20px; 
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ------------- LOGIN ------------- */

.loginbutton {
  padding: 10px;
}

.loginbutton span {
  display: inline-block;
  background-color: #F0FB14;
  padding: 8px 36px;
  border-radius: 16px;
  border: 2px solid transparent;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: black
}

.loginbutton span:hover {
  transform: scale(1.2);
  border: 2px solid black
}