

.login_button {
  background-color: rgb(243, 159, 4);
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.login_button:hover {
  background-color: white;
}

#login_container {
  background-color: black;
  width: 90%;
  height: 60%;
  position: aboslute;
  margin-right: 0;
}

#logo {
  font-family: sans-serif;
  color: white;
  font-size: 5em;
  background-color: black;
  height: 50%;
}

.mainpage {
  background-image: url(Red-Orange_BG.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100em;
  height: 100vh;
}

.instructions {
  background-color: black;
  color: white
}

nav {
  background-color: #0a2137;
  justify-content: end;
  opacity: 0.9;
  color: white;
  height: 35px;
  width: 100%;
  margin: 0px;
  border: 2px solid black;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
  color: #888;
  display: block;
  margin: 8px 22px 8px 22px;
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: white;
  font-family: sans-serif;
}



 .container {
  background-color: rgb(7, 0, 0, 0.4);
  margin: auto;
  width: 85%;
  height: 85vh;
  border: 3px solid black;
  padding: 10px;
  margin-top: 20px;
  /* overflow: hidden */
}


.App {
  background-image: url(Background.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100em;
  height: 100vh;
} 

.dropdown {
 margin-bottom: 400vh
}

.subgenres-container {
  background-color: #02263a;
  border-color: yellowgreen;
  border-style: outset;
  width: 35vw;
  height: 75%;
  display: block;
  margin-right: -5px;
  padding: 5%;
  justify-items: center;
  font-size: 10%;
  margin-left: 45%;
  display: grid;
}

.glow-on-hover {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: none;
  outline: none;
  color: white;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-size: 20px;
  font-family:'Times New Roman', Times, serif;
  padding-left: 20px;
  padding-right: 10px;
  padding: 10px;
  margin-bottom: 2px;
  display: grid;
  justify-items: center;
  align-items: baseline;
  align-content: space-between;
}



.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}


@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

#artistInfo {
  margin-bottom: 100vh;
  margin-top: -600px;
  margin-left: 50px;
  font-family:  'Courier New', Courier, monospace;
  color: black
  
  
}


/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  /* border: 1px solid #f1f1f1; */
  /* perspective: 1000px; Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: black;
  color: white;
  transform: rotateY(180deg);
}

/* .popover {
  color: #02263a;
  padding-bottom: 50px;
  /* margin-top: -450px; */
  /* margin-left: 470px; */
  /* font-size: 40px; */
/* } */ 

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}